<% if logged_in? %>
  <div class="pull-left">
    <% if utilisateur_courant.image.url != nil %>
        <%= image_tag(utilisateur_courant.image.url, size: '32', class: 'img-responsive center-block img-circle') %>
    <% else %>
        <%= image_tag('fraaaanz.png', size: '32', class: 'img-responsive center-block img-circle') %>
    <% end %>
  </div>
  <%= menu_item "Connecté : #{utilisateur_courant.prenom} #{utilisateur_courant.nom} ", utilisateur_path(utilisateur_courant) %>
  <%= menu_item 'Déconnexion', log_out_path %>
<% else %>
  <%= menu_item 'Inscription', sign_up_path %>
  <%= menu_item 'Connexion', log_in_path %>
<% end %>
