<% if logged_in? %>
  <div class="pull-left">
    <%= render partial: "utilisateurs/thumbnail", locals: {utilisateur: utilisateur_courant} %>
  </div>
  <%= menu_item "Connecté : #{utilisateur_courant.prenom} #{utilisateur_courant.nom} ", utilisateur_path(utilisateur_courant) %>
  <%= menu_item 'Déconnexion', log_out_path %>
<% else %>
  <%= menu_item 'Inscription', sign_up_path %>
  <%= menu_item 'Connexion', log_in_path %>
<% end %>
